/****** FOOTER ******/
.copyright {
  font-size: 0.8em !important;
  .text-copyright {
    .link-copyright {
      font-family: $font-heading;
      line-height: 1;
      font-size: 0.85em !important;
      padding-right: 0.2em;
    }
  }
}
