    <!-- Begin MailChimp Signup Newsletter Suscription Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup">
    <form action="https://mariacoding.us17.list-manage.com/subscribe/post?u=59100e1b8598ce8bbf524d874&amp;id=4edb3a45c6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL" class="sr-only">label of {{ fields.label-email }}'s' input</label>
    	    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{{ fields.text-email }}" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_59100e1b8598ce8bbf524d874_4edb3a45c6" tabindex="-1" value=""></div>
        <div class="clear">
          <input type="submit" value="{{ fields.button-subscribe }}" name="{{ fields.button-subscribe }}" id="mc-embedded-subscribe" class="button">
        </div>
        </div>
    </form>
    </div>
    <!--End mc_embed_signup-->
